# ── Linux User of forge enviroment ───────────────────────────
# Username (only letters, numbers and underscores)
KALI_USER=hacker

# Password
KALI_PASSWORD=hacker

# ── Enviroment Configuration ─────────────────────
# LANG (uncomment only for windows machines, in linux&macos use the enviroment variable of the shell)
# LANG=en_US.UTF-8
# examples: es_MX.UTF-8, fr_FR.UTF-8, de_DE.UTF-8
TIME_ZONE=America/Chicago
# examples: America/Mexico_City, America/New_York, Europe/Madrid

# ── Resolution of VNC desktop (optional) ─────────────────────
VNC_RESOLUTION=1280x800
